################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XML2Table/v14
/packages
/XML2Table/bin
/XML2Table/obj
